apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: postgres
  template:
    metadata:
      labels:
        component: postgres
    spec:
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: database-persistent-vlc
        - name: init-script
          configMap:
            name: db-init-script

      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432

          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
            - name: init-script
              mountPath: /docker-entrypoint-initdb.d

          env:
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: gratitude-configmap
                  key: PGUSER

            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: gratitude-secrets
                  key: PGPASSWORD

            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: gratitude-configmap
                  key: PGDATABASE

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
