apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: postgres
  template:
    metadata:
      labels:
        component: postgres
    spec:
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: database-persistent-vlc
      containers:
        - name: postgres
          image: postgres:18 #need to check the image
          ports:
            - containerPort: 5432
          volumeMounts:
            - name:  postgres-storage
              mountPath: /var/lib/postgresql
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pgpassword
                  key: PGPASSWORD
            - name: PGUSER
              value: admin
            - name: PGHOST
              value: postgres
            - name: PGDATABASE
              value: myDB
            - name: PGPORT
              value: "5432"     
